<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Project 3 - DD</title>
</head>

<body>
<div id="app">
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Project 3 - DD</a>
        </div>
    </nav>
    <div class="container pt-3">
        <div class="row justify-content-center" v-if="loading">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <div class="row" v-else>
            <div class="col mb-3 mb-md-0">
                <div class="card">
                    <div class="card-header">
                        Status
                    </div>
                    <div class="card-body">
                        {{ statusLabel }}
                    </div>
                </div>
                <div class="card mt-3 " v-if="lastOp !== 0 || status >= 3">
                    <div class="card-body">
                        Dam open at {{ lastOp }}%
                    </div>
                </div>
            </div>
            <div class="col-md-8" v-if="status >= 1">
                <div class="card">
                    <div class="card-header">
                        Water Graph
                    </div>
                    <div class="card-body">
                        <apexcharts type="area" :options="chartOptions" :series="series"></apexcharts>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"
        integrity="sha256-qXBd/EfAdjOA2FGrGAG+b3YBn2tn5A6bhz+LSgYD96k=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts@1.6.2/dist/vue-apexcharts.min.js"></script>
<script>
    Vue.component('apexcharts', VueApexCharts)

    new Vue({
        el: '#app',
        data: {
            loading: true,
            status: 0,
            lastVal: 0,
            lastOp: 0,
            series: [],
            chartOptions: {
                chart: {
                    id: 'waterflow-chart'
                },
                xaxis: {
                    type: 'datetime',
                    labels: {
                        format: 'HH:mm:ss'
                    }
                },
                yaxis: {
                    tickAmount: 10,
                    min: 0,
                    max: 500,
                    forceNiceScale: false
                },
                tooltip: {
                    x: {
                        format: 'HH:mm:ss'
                    }
                }
            },
        },
        methods: {
            fetchData() {
                axios.get('/status')
                    .then(res => {
                        this.status = res.data.status
                        this.lastVal = res.data.lastVal
                        this.lastOp = res.data.lastOp
                        if (this.status !== 0) {
                            axios.get("/level").then(res => {
                                let newData = [{
                                    name: 'Water Level',
                                    data: res.data.data
                                }]
                                if (!_.isEqual(this.series, newData)) {
                                    this.series = [{
                                        name: 'Water Level',
                                        data: res.data.data
                                    }]
                                }
                            })
                        } else {
                            this.series[0].data = []
                        }
                    })
            },
            setup: async function () {
                await this.fetchData()
                this.loading = false
                setInterval(() => {
                    this.fetchData()
                }, 1000)
            }
        },
        computed: {
            statusLabel() {
                switch (this.status) {
                    case 0:
                        return "Normal"
                    case 1:
                        return "Pre-Alarm"
                    case 2:
                        return "Alarm"
                    case 3:
                        return "Alarm - Manual"
                    default:
                        return "Error"
                }
            }
        },
        created: function () {
            this.setup()
        }
    })
</script>
</body>

</html>